* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.time-options, .sound-options, .play-pause-button{
    height: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.play-pause-button{
    position: relative;
} 
.play-pause-button svg{
    position: absolute;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    pointer-events: none;
}

.time-display{
    position: absolute;
    bottom: 10%;
    color: white;
    font-size: 50px;
}

video{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -10;
}

.time-options button,
.sound-options button{
    width: 30%;
    height: 10%;
    border-radius: 5px;
    background: none;
    border: 2px solid white;
    color: white;
    outline: none;
    cursor: pointer;
    font-size: 20px;
}

.time-options button:hover{
    color: black;
    background: white;
}

.sound-options button{
    border: none;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 30px;
}

.sound-options button:nth-child(1){
    background-color: #4972a1;
}

.sound-options button:nth-child(2){
    background: #a14f49;
}

.sound-options img{
    height: 100%;
}

/* #beach{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
} */

/* .time-options{
    /* width: 250px;
    margin: 90px 150px;
    padding-left: 0; */
/* }

body{ */
    /* background-color: pink; */
/* } */